.wrapper {
  margin: 32px auto;
  display: flex;
  justify-content: center;
}

#img-upload-input {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.upload-label {
  line-height: 92px;
  font-size: 60px;
  font-weight: 700;
  display: inline-block;
  color: #d3d3d3;
  cursor: pointer;
  height: 100px;
  width: 100px;
  border: 4px solid #d3d3d3;
}

.upload-label:hover {
  border-color: #111;
  color: #111;
}

.upload-label:focus {
  outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.container {
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 10%;
  overflow: hidden;
  border: 4px solid #d3d3d3;
  margin-left: 8px;
}

.container:hover {
  border-color: #111;
  color: #111;
}

.container img {
min-width: 100px;
max-width: none;
height: 100px;
margin: 0 -100%;
}

.error {
  color: red;
}